* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 56%;
  }
}
@media only screen and (max-width: 29rem) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 21rem) {
  html {
    font-size: 46.5%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  background-color: #222;
  font-weight: 300;
  color: #fff;
  padding: 3.2rem 9.6rem 3.2rem 9.6rem;
}
@media only screen and (max-width: 64em) {
  body {
    padding: 0 4.8rem;
  }
}
@media only screen and (max-width: 52em) {
  body {
    padding: 0;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto 6.4rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 6.4rem;
  column-gap: 3.2rem;
}
@media only screen and (max-width: 52em) {
  .container {
    margin: 0;
    margin-bottom: 4.8rem;
    width: 100%;
    grid-template-columns: 1fr;
  }
}

.header {
  width: 100%;
  height: 12rem;
  padding: 1.6rem 0;
  background-image: linear-gradient(to left, #991b1b 35%, #450a0a);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  grid-column: 1/-1;
}
@media only screen and (max-width: 52em) {
  .header {
    border-radius: 0;
  }
}
.header__container {
  position: relative;
}
.header__input {
  border: none;
  border-radius: 24px;
  padding: 0.8rem 2.4rem;
  width: 32rem;
  transition: all 0.2s;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.4rem;
}
@media only screen and (max-width: 29rem) {
  .header__input {
    font-size: 1.6rem;
  }
}
.header__input:focus {
  outline: none;
  width: 36rem;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 29rem) {
  .header__input {
    width: 100vw;
    border-radius: 0;
    padding: 1.2rem 2.4rem;
  }
  .header__input:focus {
    width: 100vw;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0);
  }
}
.header__icon {
  width: 2rem;
  color: #991b1b;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 30%);
}
@media only screen and (max-width: 29rem) {
  .header__icon {
    transform: translate(-50%, 50%);
  }
}

.heading-primary {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
}

.later__container {
  justify-self: start;
  width: 40rem;
}
@media only screen and (max-width: 52em) {
  .later__container {
    justify-self: center;
  }
}
@media only screen and (max-width: 29rem) {
  .later__container {
    width: 36rem;
  }
}
@media only screen and (max-width: 21rem) {
  .later__container {
    width: 34rem;
  }
}

.results,
.later {
  background-color: #333;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.11);
  width: 40rem;
  height: 64rem;
  padding: 1.6rem 0;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}
@media only screen and (max-width: 29rem) {
  .results,
  .later {
    width: 36rem;
  }
}
@media only screen and (max-width: 21rem) {
  .results,
  .later {
    width: 34rem;
  }
}
.results::-webkit-scrollbar,
.later::-webkit-scrollbar {
  display: none;
}

.results {
  justify-self: end;
}
@media only screen and (max-width: 52em) {
  .results {
    justify-self: center;
  }
}

.later__summary {
  background-color: #222;
  border: 3px solid #991b1b;
  border-radius: 8px 8px 0 0;
  width: 40rem;
  height: 9.2rem;
  padding: 1.6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  align-self: start;
  position: absolute;
  z-index: 999;
}
@media only screen and (max-width: 29rem) {
  .later__summary {
    width: 36rem;
  }
}
@media only screen and (max-width: 21rem) {
  .later__summary {
    width: 34rem;
  }
}
.later__summary .later {
  justify-self: start;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
@media only screen and (max-width: 52em) {
  .later__summary .later {
    justify-self: center;
  }
}
.later__summary .movie:nth-child(2) {
  margin-top: 10.2rem;
}
.later__summary__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
.later__summary__text {
  font-size: 1.8rem;
  font-weight: 400;
}
.later__summary__heading {
  font-size: 1.8rem;
}
.later__summary__movies {
  font-size: 1.6rem;
}
.later__summary__time {
  font-size: 1.6rem;
}

.movie {
  height: 9.2rem;
  border-top: 1px solid #444;
  display: flex;
  gap: 0.8rem;
  position: relative;
  cursor: pointer;
}
.movie:hover {
  background-color: #444;
}
.movie:last-child {
  border-bottom: 1px solid #444;
}
.movie__info {
  width: 100%;
  height: 100%;
}
.movie__image {
  width: 6rem;
  height: 100%;
}
.movie__title {
  margin-top: 0.8rem;
  font-weight: 600;
  font-size: 1.8rem;
}
.movie__released {
  display: inline-block;
  margin-top: 0.8rem;
  font-size: 1.6rem;
}
.movie__added {
  display: inline-block;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0.8rem;
  right: 1.4rem;
  font-weight: 500;
}
.movie__link:link, .movie__link:visited {
  color: inherit;
  text-decoration: none;
  scroll-behavior: smooth;
}

.details {
  background-color: #222;
  border: 2px solid #991b1b;
  border-radius: 8px;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.details__back-btn {
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #222;
  width: 3.4rem;
  height: 3.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-25%, 25%);
}
.details__back-btn-icon {
  color: #333;
  width: 2.4rem;
}
.details__heading {
  height: 20rem;
  display: flex;
}
.details__image {
  height: 100%;
}
.details__text {
  display: flex;
  flex-direction: column;
  padding: 1.8rem 2.4rem;
}
.details__title {
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.details__year, .details__director {
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}
.details__runtime {
  font-size: 1.4rem;
}
.details__rating {
  margin-top: 0.8rem;
  font-size: 1.6rem;
}
.details__icon {
  width: 1.6rem;
  transform: translateY(2px);
}
.details__description {
  font-size: 1.6rem;
  padding: 3.2rem;
  height: 100%;
}
.details__add-btn, .details__delete-btn {
  border: none;
  border-radius: 24px;
  width: 70%;
  background-color: #fff;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  align-self: center;
  margin-bottom: 2.4rem;
  transition: all 0.2s;
  color: #333;
}
.details__add-btn:hover, .details__delete-btn:hover {
  transform: translateY(-3px);
}
.details__delete-btn {
  color: #991b1b;
}

.loader,
.error {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 1.6rem;
  text-align: center;
}

.later {
  padding: 10.2rem 0 1.6rem 0;
}

.later__detail-open {
  padding: 1.6rem 0;
}

.footer {
  background-image: linear-gradient(to left, #991b1b 35%, #450a0a);
  border-radius: 4px;
  height: 4.8rem;
  padding: 1.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 52em) {
  .footer {
    border-radius: 0;
  }
}
.footer__text {
  font-size: 1.6rem;
  font-weight: 300;
}
.footer__link:link, .footer__link:visited {
  display: inline-block;
  color: inherit;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
  margin-left: 0.6rem;
}
.footer__icon {
  margin-left: 1rem;
  width: 1.4rem;
  transform: scale(1.5);
}

/*# sourceMappingURL=index.css.map */
